{% extends '@SherlockodeConfiguration/base.html.twig' %}

{% block content %}
    <h1>{{ 'parameters'|trans({}, 'SherlockodeConfigurationBundle') }}</h1>
    {{ form_start(form) }}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}

    <button type="submit">{{ 'submit'|trans({}, 'SherlockodeConfigurationBundle') }}</button>
    {{ form_end(form) }}
{% endblock %}
